# Server
NODE_ENV=development
PORT=4000
API_PREFIX=/api/v1
CORS_ORIGIN=*

# firebase | jwt
AUTH_MODE=firebase

# Database (PostgreSQL)
DATABASE_URL=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/rexar?retryWrites=true&w=majority

# Firebase Admin
FIREBASE_SERVICE_ACCOUNT_PATH=./secrets/firebase-service-account.json

# FIREBASE_PROJECT_ID=
# FIREBASE_CLIENT_EMAIL=
# FIREBASE_PRIVATE_KEY=

# Only when AUTH_MODE=jwt
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
